// ########## Global ##########
body {
    //font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main { overflow: hidden; }

//Colorpalette
$primary: #fff;
$secondary: #252525;
$tertiary: #e6bd43;
$black: #000;

//Spacing
$document-width: 1600px;
$document-inner-width: 1300px;
$document-space: 20px;


// ########## Global end ##########

// ########## Global layout ##########
@mixin flex-display ($display, $direction, $wrap, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid-display ($display, $columns, $rows) {
    display: $display;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

// Document max width
header, .footer-inner {
    max-width: $document-width;
}

// Document inner width 
.content-wrapper {
    max-width: $document-inner-width;
}

//center max width
header, .content-wrapper, .footer-inner {
    margin: auto;
}

//Document spacing
header, footer, aside, .sec-onecol, .sec-onerow, .sec-twocol, .sec-fourcol {
    padding-left: $document-space;
    padding-right: $document-space;
}

header {
    @include flex-display (flex, column, wrap, space-between, center);
}

ul {
    @include flex-display (flex, column, nowrap, inherit, center);

    padding-left: 0;
}

.sec-onecol {
    @include flex-display (flex, column, wrap, inherit, center);

    align-items: center;
    text-align: center;
}

.sec-onerow {
    @include flex-display (flex, column, wrap, center, center);

    > h2 { 
        width: 100%;
        text-align: center;
     }

    article {
        @include flex-display(flex, column, wrap, inherit, center);
        
        text-align: center;
    }
}

.sec-twocol {
    @include grid-display (grid, 1fr, auto);

    :first-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    justify-content: center;
}

.sec-fourcol {
    @include grid-display (grid, 1fr, auto);

    :first-child {
        grid-column: 1 / -1;
        text-align: center;
    }
    
    text-align: center;
}

aside {
    @include flex-display (flex, column, wrap, inherit, center);
}

.footer-inner {
    @include flex-display (flex, column, nowrap, space-between, center);
}

// ########## Layout end ##########

// ########## Utility classes ##########

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}

.bg-light {
    background-color: #ededed;
}

// ########## Utility end ##########

// ########## Header ##########
nav {
    ul {
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
        }
    }

}

// ########## Header end ##########

// ########## Main ##########

.page-hero {
    position: relative;
    overflow: hidden;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    i {
        order: -1;
    }
}

.portfolio-row {
    @include flex-display (flex, row, wrap, center, center);

    :first-child {
        width: 100%;
    }
    padding-left: $document-space;
    padding-right: $document-space;
}

.portfolio-card {
    @include flex-display (flex, column, wrap, center, start);
    flex-grow: 1;
    max-width: 629px;
    text-align: left;

    img {
        order: -1;
        width: 100%;
    }
}

#contact {
    form {
        @include flex-display (flex, column, wrap, inherit, start);

        /*input, textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        } */
    }

    article {
        @include flex-display (flex, column, wrap, space-between, start);

        text-align: left;
    }
}


// ########## Main end ##########

// ########## Footer ##########
.footer-inner {
    p {
        flex-grow: 2;
        text-align: center;
    }
}

// ########## Media Queries ##########
$breakpoint-tablet: 760px;
$breakpoint-small-laptop: 991px;

@media only screen and (min-width: $breakpoint-tablet) {
    header {
        flex-direction: row;
    }

    nav {
        ul {
            flex-direction: row;
        }
    }

    .sec-onerow {
        flex-direction: row;

        article {
            align-items: start;
            text-align: left;
            order: 2;
        }
    }
    .sec-twocol {
        grid-template-columns: repeat(2, 1fr);
    }

    .sec-fourcol {
        grid-template-columns: repeat(4, 1fr);
    }

    .page-hero-content {
        grid-column: 2;
    }

    .portfolio-row {
        justify-content: start;
    }

    .footer-inner {
        flex-direction: row;
    }
}

@media only screen and (min-width: $breakpoint-small-laptop) {

}


